

  <div class="container">
    <div class="row justify-content-center">
      <h1>Afficher la liste des Tâches</h1>
      <form class="col-md-6">
        <div class="form-group">
        <label for="listId">ID de la liste:</label>
        <input type="text" id="listId" name="listId" [(ngModel)]="listId">
        <button class="btn btn-primary" (click)="findTaskListById()">Chercher</button>
      </div>
      </form>
      
      <div class="row justify-content-center">
      <div class="col-md-6" *ngIf="taskList">
        <h2>Nom de la liste: {{ taskList.name }}</h2>
        <h3>Les Tâches:</h3>
        
          <div *ngFor="let task of taskList.tasks">{{ task.description }}</div>
        
      </div>
     
    
    </div>
    
    </div>
  </div>