<div class="container">
  <div class="row justify-content-center">
    <h1>Créer une nouvelle liste des Tâches</h1>
    <form class="col-md-6">
      <div class="form-group">
      <label for="listtask">Nom de la liste:</label>
      <input type="text" id="listtask" name="listtask" [(ngModel)]="listtask.name" class="form-control" required pattern="[A-Za-z]+">
    </div>
    <div class="form-group ">
      <label for="task">Description de la Tâche:</label>
      <div class="d-flex">
      <input type="text" id="task" name="task" [(ngModel)]="task.description" class="form-control" required>
      
      <button class=" btn-ajout btn btn-primary" (click)="ajouttask()">Ajouter</button>
    </div>
</div>
      <button class="btn btn-primary" (click)="ajouterlist()">Sauvegarder</button>
  
    </form>
  </div>
</div>