.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.row {
  text-align: center;
}
h1 {
  margin-bottom: 50px;
  font-size: 50px;
}
button{
    border-radius: 10px;
}