<!-- Header -->
<header id="head">
    <div class="container">
      <div class="row">
        <h1 class="lead">Gestionnaire des Tâches</h1>
        <p>
          <a class="btn btn-action btn-lg" role="button" style="margin-right: 50px;" (click)="redirectToCreateTaskList()">
            CRÉER UNE LISTE
          </a>
          <a class="btn btn-action btn-lg" role="button" (click)="redirectToViewTaskList()">
            AFFICHER UNE LISTE
          </a>
        </p>
      </div>
    </div>
  </header>
  <!-- /Header -->